<p>Hello,<br><br>
    I'm Kaspars(Casper), a penetration tester with close to 3000 hours of hands-on experience. Trained my skillset through platforms as TryHackMe, HackTheBox, OverTheWire, Offensive Securities Proving Grounds, Portswigger academy, and various CTF under a solo (DigitalFootprint) and group (OnlyFeet) teamnames. Specialize in web and network penetration testing, mostly BlackBox, but I also have some experience in Grey and WhiteBox. I'm familiar with a variety of tools including, but not limited to, Zap, BurpSuite CE, nikto, nmap, sqlmap, gobuster, metasploit, ffuf, wireshark, john, hydra.<br>
    <br>
    Familiar with Python, bash, Javascript, HTML, css, c++.<br>
    <br>
    I'm actively following CyberSecurity content on Youtube/Discord/Twitch. Active in several CyberSecurity Discord servers, some more than others. Weekly participant of group call hacking sessions. Publishing writeups on HTB machines as soon as they retire, if I'm content with my performance on them. You can read some <a href="https://github.com/MythicalMoon/writeups" target="_blank"><u>Here</u></a>
    <br><br>
    - Engaging in penetration testing and exploring vulnerabilities in online labs<br>
    - Studying the latest trends and techniques in the field through e-Books and online resources<br>
    - Participating in CTFs, competitions, and webinars to improve their problem-solving skills<br>
    - Staying up-to-date with the latest news and trends in the field by reading articles and blog posts<br>
    - Attending cybersecurity conferences and connecting with other professionals in the field<br>
    - Being a part of a vibrant and supportive cybersecurity community through Discord groups<br>
    - Writing code and developing side projects, which they share on Github for others to learn from<br>
    - Taking courses and constantly seeking new opportunities to learn and grow
    <br><br>
    Encountered all of OWASP TOP10 vulnerabilities, some more than others, I certainly have my favorites. Well versed in priviledge escalation methods, both horizontal and vertical. Experience with Packet analysis, forensics and OSINT. 
    <br><br>
    Worth mentioning achievements:<br><br>
    - Ranked within the top 1% of TryHackMe users<br>
    - Hacker rank on HackTheBox<br>
    - NahamCon2023 CTF OnlyFeet placed within top 2%<br>
    - Over a dozen top 10% CTF placements over the years.<br>
    - HTB - HackTheBoo 2022 (top 20 % solo placement)<br>
    - HTB - Cyber Santa 2021 (top 30% solo placement)<br>
    
</p>