    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="{{'/assets/css/style.css'}}">
    <script src="{{'/assets/js/app.js'}}"></script>
    <script src="https://kit.fontawesome.com/46186b43ea.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function confirm_alert(node) {
            return confirm("Working on it");
        }
        </script>
</head>

<body>
<nav data-toggled="false" data-transitionable="false">
    <div id="nav-logo-section" class="nav-section">
        <a href="/">
            <i class="fa-regular fa-moon"></i>
        </a>
    </div>
    <div id="nav-mobile-section">
        <div id="nav-link-section" class="nav-section">
            <a href="/about">ABOUT</a>
            <a href="/projects">PROJECTS</a>
            <a href="#" onclick="return confirm_alert(this);">WRITE-UPS</a>
        </div>
        <div id="nav-social-section" class="nav-section">
            <a href="https://github.com/MythicalMoon" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/kasparssb" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
        <div id="nav-contact-section" class="nav-section">
            <a href="mailto:KasparsSB@hotmail.com" target="_blank">
                <i class="fa-regular fa-envelope"></i>
            </a>
        </div>
    </div>
    <button id="nav-toggle-button" type="button" onclick="handleNavToggle()">
        <span>Menu</span>
        <i class="fa-solid fa-bars"></i>
    </button>
</nav>