<p>
    <b>Skillset:</b><br><br>
    <b>Programming:</b> Python, scripting (bash, zsh, python), C++<br>
    <b>Back-end:</b> PHP, SQL<br>
    <b>Front-end:</b> HTML, CSS<br>
    <b>Operating systems:</b> Linux, Windows<br>
    <b>Tools:</b> Nmap, Nikto, wp-scan, gobuster, Burpsuite, Metasploit, Wireshark, GHydra, SQLmap, ffuf, john, git
    <br><br>
    <b>Other:</b> Virtualization, MITRE ATT&CK, Identity management, cryptography, TCP/IP Networking, OWASP Top10, CVE, CWE, OSINT, Active Directory, Blender, Unity, Soldering, hardware knowledge
    <br><br>

</p>